// Place all the styles related to the Dialogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_mess {
  display: block;
  background-color: #2f917e;
  border-radius: 15%;
  margin: 10px;
  width: 200px;
  text-align: center;
  margin-left: 75px;
}

.not_my {
  display: block;
  background-color: #c7d1a9;
  border-radius: 15%;
  margin: 10px;
  width: 200px;
  text-align: center;
  margin-right: 75px;
}
